.my-footer {
    height: 5em;
    padding: 1em;
    background-color: #163b65;
    color: #ffffff;
    font-size: 80%;
    margin-top: 1.5em;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}